.info-window {
    padding: 10px;
    width: 400px;
    height: 200px;
    background-color: #000;
    position: absolute;
    transform: translate(-50%, -108%);
}

.info-window h2 {
    margin-top: 0;
    color: red;
}

.info-window article {
    color: white; 
    overflow: auto;
    max-height: 120px;
    margin: 10px 0;
    font-size: 14px;
}

.info-window article p {
    padding: 10px;
}

@media screen and (max-width: 500px) {
    .info-window {
        width: 90vw;
    }

    
}